    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    .header {
        background-color: #3b3a30;
        color: white;
        padding: 15px;
    }

    .footer {
        position: fixed;
        background-color: #3b3a30;
        color: white;
        padding: 15px;
        right: 0;
        bottom: 0;
        left: 0;
    }


    .line {
        margin-top: 0.1%;
        height: auto;
        width: 90%;
        height: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    a {
        text-decoration: none;
        color: black;

    }

    a:hover {
        text-decoration: none;
        color: #0066FF;
    }

    a:active {
        text-decoration: none;
        color: firebrick;
    }

    a:visited {
        color: black;
    }

    table {
        border-collapse: collapse;
    }

    ul {
        list-style: square;
        font-weight: bolder;
    }

    p {
        font-size: 12px;
        overflow: auto;
        font-weight: 300;
    }

    .imgli {
        float: right;
        margin-top: -1%;
        position: relative;
    }

    th:hover {
        background-color: #c0ded9;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .imgli {
        float: right;
        position: relative;
    }

    li {
        margin-bottom: 5%;
    }

    .liattach {
        margin-top: -4%;
        overflow: auto;
        margin-right: 10%;
        font-weight: 300;
        font-size: 14px;
        margin-bottom: 7%;

    }

