    * {
        box-sizing: border-box;
        font-family: sans-serif;
    }

    h1 {
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid black;

    }

    .header {
        background-color: black;
        color: white;
        padding: 15px;
    }

    .footer {
        position: fixed;
        background-color: black;
        color: white;
        padding: 15px;
        right: 0;
        bottom: 0;
        left: 0;
    }


    .line {
        margin-top: 0.1%;
        height: auto;
        width: 100%;
    }

    a {
        text-decoration: none;
        color: black;

    }

    a:hover {
        text-decoration: none;
        color: #0066FF;
    }

    a:active {
        text-decoration: none;
        color: firebrick;
    }

    a:visited {
        color: red;
    }

    table {
        border-collapse: collapse;
    }

    ul {
        margin-top: -32%;
        list-style: square;
    }

    p {
        font-size: 12px;
        margin-top: -0.01%;
        margin-bottom: 0.8%;
        overflow: auto;
    }

    .imgli {
        float: right;
        position: relative;

    }
